.wrapper {
  width: 60%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.name {
  font-weight: bold;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .wrapper {
    width: 80%;
  }
  .title {
    font-size: 20px;
    text-transform: none;
  }
}
